.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}